<!DOCTYPE html>
<html >
<h1>Valer's Home</h1>
<p>This is the home page!</p>

<style>

</style>

<div id="content">
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-4">
      <div class="thumbnail" style="background-color:white">
        <img src="https://d22d7v2y1t140g.cloudfront.net/m_1597779_4dzbuyiN6Xwu.jpg" alt="img">
        <div class="caption">
        <h3>Classic selfie</h3>
        <p>This is one of my favorite selfies with miranda...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
</div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-5 col-md-offset-4">
    <div class="thumbnail" style="background-color:white">
      <img src="https://v.cdn.vine.co/r/avatars/C9DE86DE7D1095751746892042240_pic-r-1404221786323e236948cad.jpg.jpg?versionId=4ENONN63M5s.ye53nkD1RRx4JYsW7BbB" alt="img">
      <div class="caption">
        <h3>Emo Superwoman</h3>
        <p>This is another really quality selfie...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div
